<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Framework.Testng.Class1"/>
      <!--<class name="Framework.Testng.Class2"/>-->
      <!--<class name="Framework.Testng.Class3"/>-->
      <!--<class name="Framework.Testng.Class4"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
